@import 'variable';

/************************
 BACKGROUND COLORS 
************************/
.black {
  background-color: $black;
  &-green {
    background-color: $black-green;
    &-light {
      background-color: $black-green-light;
    }
  }
}
.white {
  background-color: $white;
  &-green {
    background-color: $white-green;
  }
}
.gray {
  &-medium {
    background-color: $gray-medium;
  }
  &-light {
    background-color: $gray-light;
  }
}
.green {
  &-light {
    background-color: $green-light;
  }
}
.tomato {
  background-color: $tomato;
}
/************************
  TEXT COLORS 
************************/
.text {
  .black {
    color: $black;
    &-green {
      color: $black-green;
      &-light {
        color: $black-green-light;
      }
    }
  }
}
.text {
  .white {
    color: $white;
    &-green {
      color: $white-green;
    }
  }
}
.text {
  .gray {
    &-medium {
      color: $gray-medium;
    }
    &-light {
      color: $gray-light;
    }
  }
}
.text {
  .green {
    &-light {
      color: $green-light;
    }
  }
  .tomato {
    color: $tomato;
  }
}
/************************
  COLORS 
************************/
.black {
  color: $black;
  &-green {
    color: $black-green;
    &-light {
      color: $black-green-light;
    }
  }
}

.white {
  color: $white;
  &-green {
    color: $white-green;
  }
}

.gray {
  &-medium {
    color: $gray-medium;
  }
  &-light {
    color: $gray-light;
  }
}

.green {
  &-light {
    color: $green-light;
  }
}
.tomato {
  color: $tomato;
}
