@import 'variable';

.follow {
  padding-block: $spacing-08 $spacing-10;
  &-container {
    padding-block: $spacing-12;
    padding-inline: $spacing-11;
    position: relative;
    //     &::before {
    //       content: '';
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       background-image: url(../assets/bgimage/Vector.png);
    //       width: 100%;
    //       height: 100%;
    //       background-repeat: no-repeat;
    //       z-index: -1;
    //     }
    @media (max-width: 576px) {
      padding: $spacing-05 $spacing-07;
    }
  }
  &-burger {
    width: 22px;
    height: 10px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    &-pagination-bullet {
      padding: 7px;
    }
    &-slide {
      padding: $spacing-04 $spacing-05;
      border-radius: 10px;
      background-color: $white;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  @media (max-width: 576px) {
    padding-block: $spacing-06 $spacing-08;
  }
}
