@import 'variable';

.footer {
  &-header {
    display: flex;
    justify-content: space-between;
    @media ($break-lg-down) {
      flex-direction: column;
      text-align: center;
    }
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media ($break-lg-down) {
      display: grid;

      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      gap: 40px;
    }
  }
  &-social {
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      @include lg {
        align-items: end;
        justify-content: flex-end;
      }
    }
  }
}
