@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/************************
 FONT FAMILY Manrope
************************/
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/************************
 FONT FAMILY Manrope
************************/
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn-black-green, .btn-green-light {
  border-radius: 10px;
  font-size: clamp(0.82rem, 1vw, 1rem);
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  padding: 0.75rem 3.375rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
}

.btn-black-green {
  background-color: #07262c;
  color: #fff;
}

.btn-black-green:hover {
  background-color: #66dab0;
  color: #010709;
}

.btn-green-light {
  background-color: #66dab0;
  color: #010709;
}

.btn-green-light:hover {
  background-color: #07262c;
  color: #fff;
}

/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
/************************
HEADING 
************************/
h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  color: #fff;
  line-height: 110%;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.875rem, 5vw, 3.5rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.5625rem, 5vw, 3rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: clamp(1.25rem, 4vw, 2rem);
  line-height: 48px;
  color: #07262c;
}

/************************
DESCRIPTION
************************/
.desc-1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.desc-2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.375rem);
  line-height: 30px;
  color: #07262c;
}

.desc-3 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.1875rem);
  line-height: 150%;
  color: #07262c;
}

.desc-4 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 110%;
  color: #07262c;
  opacity: 0.4;
}

.desc-5 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(0.82rem, 1vw, 1rem);
  line-height: 150%;
  color: #07262c;
}

.desc-6 {
  font-size: clamp(0.775rem, 1vw, 0.9375rem);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #07262c;
  opacity: 0.5;
}

.desc-7 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 110%;
  color: #07262c;
  font-size: clamp(0.675rem, 1vw, 0.875rem);
  opacity: 0.4;
}

/************************
FONT WEIGHT
************************/
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
.mb-01 {
  margin-bottom: 0.25rem;
}

.mb-02 {
  margin-bottom: 0.5rem;
}

.mb-03 {
  margin-bottom: 0.75rem;
}

.mb-04 {
  margin-bottom: 1rem;
}

.mb-05 {
  margin-bottom: 1.25rem;
}

.mb-06 {
  margin-bottom: 1.5rem;
}

.mb-07 {
  margin-bottom: 2rem;
}

.mb-08 {
  margin-bottom: 2.5rem;
}

.mb-09 {
  margin-bottom: 3rem;
}

.mb-10 {
  margin-bottom: 3.375rem;
}

.mb-11 {
  margin-bottom: 4rem;
}

.mb-12 {
  margin-bottom: 4.5rem;
}

.mb-13 {
  margin-bottom: 5rem;
}

.mb-14 {
  margin-bottom: 6rem;
}

@media (min-width: 992px) {
  .mb-lg-01 {
    margin-bottom: 0.25rem;
  }
  .mb-lg-02 {
    margin-bottom: 0.5rem;
  }
  .mb-lg-03 {
    margin-bottom: 0.75rem;
  }
  .mb-lg-04 {
    margin-bottom: 1rem;
  }
  .mb-lg-05 {
    margin-bottom: 1.25rem;
  }
  .mb-lg-06 {
    margin-bottom: 1.5rem;
  }
  .mb-lg-07 {
    margin-bottom: 2rem;
  }
  .mb-lg-08 {
    margin-bottom: 2.5rem;
  }
  .mb-lg-09 {
    margin-bottom: 3rem;
  }
  .mb-lg-10 {
    margin-bottom: 3.375rem;
  }
  .mb-lg-11 {
    margin-bottom: 4rem;
  }
  .mb-lg-12 {
    margin-bottom: 4.5rem;
  }
  .mb-lg-13 {
    margin-bottom: 5rem;
  }
  .mb-lg-14 {
    margin-bottom: 6rem;
  }
}

.mt-01 {
  margin-top: 0.25rem;
}

.mt-02 {
  margin-top: 0.5rem;
}

.mt-03 {
  margin-top: 0.75rem;
}

.mt-04 {
  margin-top: 1rem;
}

.mt-05 {
  margin-top: 1.25rem;
}

.mt-06 {
  margin-top: 1.5rem;
}

.mt-07 {
  margin-top: 2rem;
}

.mt-08 {
  margin-top: 2.5rem;
}

.mt-09 {
  margin-top: 3rem;
}

.mt-10 {
  margin-top: 3.375rem;
}

.mt-11 {
  margin-top: 4rem;
}

.mt-12 {
  margin-top: 4.5rem;
}

.mt-13 {
  margin-top: 5rem;
}

.mt-14 {
  margin-top: 6rem;
}

@media (min-width: 992px) {
  .mt-lg-01 {
    margin-top: 0.25rem;
  }
  .mt-lg-02 {
    margin-top: 0.5rem;
  }
  .mt-lg-03 {
    margin-top: 0.75rem;
  }
  .mt-lg-04 {
    margin-top: 1rem;
  }
  .mt-lg-05 {
    margin-top: 1.25rem;
  }
  .mt-lg-06 {
    margin-top: 1.5rem;
  }
  .mt-lg-07 {
    margin-top: 2rem;
  }
  .mt-lg-08 {
    margin-top: 2.5rem;
  }
  .mt-lg-09 {
    margin-top: 3rem;
  }
  .mt-lg-10 {
    margin-top: 3.375rem;
  }
  .mt-lg-11 {
    margin-top: 4rem;
  }
  .mt-lg-12 {
    margin-top: 4.5rem;
  }
  .mt-lg-13 {
    margin-top: 5rem;
  }
  .mt-lg-14 {
    margin-top: 6rem;
  }
}

.pt-01 {
  padding-top: 0.25rem;
}

.pt-02 {
  padding-top: 0.5rem;
}

.pt-03 {
  padding-top: 0.75rem;
}

.pt-04 {
  padding-top: 1rem;
}

.pt-05 {
  padding-top: 1.25rem;
}

.pt-06 {
  padding-top: 1.5rem;
}

.pt-07 {
  padding-top: 2rem;
}

.pt-08 {
  padding-top: 2.5rem;
}

.pt-09 {
  padding-top: 3rem;
}

.pt-10 {
  padding-top: 3.375rem;
}

.pt-11 {
  padding-top: 4rem;
}

.pt-12 {
  padding-top: 4.5rem;
}

.pt-13 {
  padding-top: 5rem;
}

.pt-14 {
  padding-top: 6rem;
}

@media (min-width: 992px) {
  .pt-lg-01 {
    padding-top: 0.25rem;
  }
  .pt-lg-02 {
    padding-top: 0.5rem;
  }
  .pt-lg-03 {
    padding-top: 0.75rem;
  }
  .pt-lg-04 {
    padding-top: 1rem;
  }
  .pt-lg-05 {
    padding-top: 1.25rem;
  }
  .pt-lg-06 {
    padding-top: 1.5rem;
  }
  .pt-lg-07 {
    padding-top: 2rem;
  }
  .pt-lg-08 {
    padding-top: 2.5rem;
  }
  .pt-lg-09 {
    padding-top: 3rem;
  }
  .pt-lg-10 {
    padding-top: 3.375rem;
  }
  .pt-lg-11 {
    padding-top: 4rem;
  }
  .pt-lg-12 {
    padding-top: 4.5rem;
  }
  .pt-lg-13 {
    padding-top: 5rem;
  }
  .pt-lg-14 {
    padding-top: 6rem;
  }
}

.pb-01 {
  padding-bottom: 0.25rem;
}

.pb-02 {
  padding-bottom: 0.5rem;
}

.pb-03 {
  padding-bottom: 0.75rem;
}

.pb-04 {
  padding-bottom: 1rem;
}

.pb-05 {
  padding-bottom: 1.25rem;
}

.pb-06 {
  padding-bottom: 1.5rem;
}

.pb-07 {
  padding-bottom: 2rem;
}

.pb-08 {
  padding-bottom: 2.5rem;
}

.pb-09 {
  padding-bottom: 3rem;
}

.pb-10 {
  padding-bottom: 3.375rem;
}

.pb-11 {
  padding-bottom: 4rem;
}

.pb-12 {
  padding-bottom: 4.5rem;
}

.pb-13 {
  padding-bottom: 5rem;
}

.pb-14 {
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  .pb-lg-01 {
    padding-bottom: 0.25rem;
  }
  .pb-lg-02 {
    padding-bottom: 0.5rem;
  }
  .pb-lg-03 {
    padding-bottom: 0.75rem;
  }
  .pb-lg-04 {
    padding-bottom: 1rem;
  }
  .pb-lg-05 {
    padding-bottom: 1.25rem;
  }
  .pb-lg-06 {
    padding-bottom: 1.5rem;
  }
  .pb-lg-07 {
    padding-bottom: 2rem;
  }
  .pb-lg-08 {
    padding-bottom: 2.5rem;
  }
  .pb-lg-09 {
    padding-bottom: 3rem;
  }
  .pb-lg-10 {
    padding-bottom: 3.375rem;
  }
  .pb-lg-11 {
    padding-bottom: 4rem;
  }
  .pb-lg-12 {
    padding-bottom: 4.5rem;
  }
  .pb-lg-13 {
    padding-bottom: 5rem;
  }
  .pb-lg-14 {
    padding-bottom: 6rem;
  }
}

/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
/************************
 BACKGROUND COLORS 
************************/
.bg-black {
  background-color: #010709;
}

.bg-black-green {
  background-color: #07262c;
}

.bg-black-green-light {
  background-color: #93eedb1a;
}

.bg-white {
  background-color: #fff;
}

.bg-white-green {
  background-color: #f0faf8;
}

.bg-gray-medium {
  background-color: #3b3f43;
}

.bg-gray-light {
  background-color: #536471;
}

.bg-green-light {
  background-color: #66dab0;
}

.bg-tomato {
  background-color: #cf6f49;
}

/************************
  TEXT COLORS 
************************/
.text-black {
  color: #010709;
}

.text-black-green {
  color: #07262c;
}

.text-black-green-light {
  color: #93eedb1a;
}

.text-white {
  color: #fff;
}

.text-white-green {
  color: #f0faf8;
}

.text-gray-medium {
  color: #3b3f43;
}

.text-gray-light {
  color: #536471;
}

.text-green-light {
  color: #66dab0;
}

.text-tomato {
  color: #cf6f49;
}

/************************
  COLORS 
************************/
.black {
  color: #010709;
}

.black-green {
  color: #07262c;
}

.black-green-light {
  color: #93eedb1a;
}

.white {
  color: #fff;
}

.white-green {
  color: #f0faf8;
}

.gray-medium {
  color: #3b3f43;
}

.gray-light {
  color: #536471;
}

.green-light {
  color: #66dab0;
}

.tomato {
  color: #cf6f49;
}

/*********************************
SECTION 
*************************************/
/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media ((max-width: 991px)) {
  .footer-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media ((max-width: 991px)) {
  .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 40px;
  }
}

.footer-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer-social-icon {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
.follow {
  padding-block: 2.5rem 3.375rem;
}

.follow-container {
  padding-block: 4.5rem;
  padding-inline: 4rem;
  position: relative;
}

.follow-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/bgimage/Vector.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  isolation: isolate;
}

@media (max-width: 576px) {
  .follow-container {
    padding: 2rem 1rem;
  }
}

.follow-container-bgSvg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.follow-content {
  position: relative;
  z-index: 1;
}

.follow-burger {
  width: 22px;
  height: 10px;
  padding: 40px;
}

.follow .swiper {
  width: 100%;
  height: 100%;
}

.follow .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.follow .swiper-slide {
  cursor: pointer;
  padding: 1rem 1.25rem;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .follow {
    padding-block: 1.5rem 2.5rem;
  }
}

.gallery {
  max-width: 1920px;
}

.gallery .swiper {
  width: 100%;
  height: 100%;
}

.gallery .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}

.gallery .swiper-slide {
  width: 190px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery .swiper-slide-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.join {
  background-image: url(../assets/bgimage/Group.png);
  background-position: center;
  background-size: cover;
}

.join-body {
  max-width: 700px;
}

/************************
 FONT FAMILY Manrope
************************/
/************************************/
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
.latest-card {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  max-width: 620px;
}

.latest-card-arrow {
  width: 40px;
}

@media (min-width: 576px) {
  .latest-card-arrow {
    width: 60px;
  }
}

.latest-card-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.25rem;
  place-items: center;
}

@media (min-width: 992px) {
  .latest-card-group {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.latest-card-body {
  padding-inline: 20px;
}

@media (min-width: 576px) {
  .latest-card-body {
    padding-inline: 48px;
  }
}

.latest-card-bg-img-1, .latest-card-bg-img-2 {
  position: absolute;
  isolation: isolate;
}

.latest-card-bg-img-1 {
  bottom: -58px;
  right: 11%;
}

.latest-card-bg-img-2 {
  bottom: -5%;
  right: -6%;
}
/*# sourceMappingURL=index.css.map */