@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/************************
 FONT FAMILY Manrope
************************/
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/************************
 FONT FAMILY Poppins
************************/
/************************
 COLORS 
************************/
/************************
HEADING 
************************/
/************************
DESCRIPTION
************************/
/************************
FONT WEIGHT
************************/
/************************
spacing 
************************/
/****************************************************
ADD NEW REAKPOINT
****************************************************/
/*******
MIXINS
*******/
/*********************************************
Break Points
**********************************************/
/************************
HEADING 
************************/
h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  color: #fff;
  line-height: 110%;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.875rem, 5vw, 3.5rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.5625rem, 5vw, 3rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: clamp(1.25rem, 4vw, 2rem);
  line-height: 48px;
  color: #07262c;
}

/************************
DESCRIPTION
************************/
.desc-1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #07262c;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.desc-2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.375rem);
  line-height: 30px;
  color: #07262c;
}

.desc-3 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.1875rem);
  line-height: 150%;
  color: #07262c;
}

.desc-4 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: 110%;
  color: #07262c;
  opacity: 0.4;
}

.desc-5 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(0.82rem, 1vw, 1rem);
  line-height: 150%;
  color: #07262c;
}

.desc-6 {
  font-size: clamp(0.775rem, 1vw, 0.9375rem);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #07262c;
  opacity: 0.5;
}

.desc-7 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 110%;
  color: #07262c;
  font-size: clamp(0.675rem, 1vw, 0.875rem);
  opacity: 0.4;
}

/************************
FONT WEIGHT
************************/
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
/*# sourceMappingURL=typography.css.map */