<section>
  <div
    class="container-xxl benefit bg-black-green pt-lg-12 pt-07 pb-lg-12 pb-07"
  >
    <div class="benefit-header row row-cols-2">
      <div>
        <p class="desc-4 fs-normal text-white opacity-50">Why join</p>
        <h2 class="text-white">Have pleasure, learn, or make money!</h2>
      </div>
    </div>
    <div class="row row-cols-lg-2 pt-lg-10 pt-04 pb-06 pb-lg-12 pt-04 pb-06">
      <div class="mb-lg-0 mb-lg-09 mb-04">
        <img
          class="benefit-model-img"
          src="../assets/image/benefit-banner.jpg"
          alt=""
        />
      </div>
      <div class="benefit-model-desc">
        <p class="text-white">01 <span class="opacity-50">Enjoy</span></p>
        <h4 class="text-white mb-lg-10 mb-04">
          Enjoy <br />
          watching hair being cut
        </h4>

        <div class="col">
          <div class="row row-cols-2">
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system, and expound the actual teachings.
            </p>
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="bg-white" />

    <div class="row row-cols-lg-2 pt-lg-10 pt-04 pb-06 pb-lg-12 pt-04 pb-06">
      <div class="pe-xl-5 order-lg-0 order-3">
        <p class="text-white">02 <span class="opacity-50">Learn</span></p>
        <h4 class="text-white mb-lg-10 mb-04">
          Learn <br />
          new cutting techniques
        </h4>

        <div class="col">
          <div class="row row-cols-2">
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system, and expound the actual teachings.
            </p>
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </div>
        </div>
      </div>
      <div class="mb-lg-0 mb-lg-09 mb-04">
        <img
          class="benefit-model-img"
          src="../assets/image/benefit-banner-2.jpg"
          alt=""
        />
      </div>
    </div>
    <hr class="bg-white" />
    <div class="row row-cols-lg-2 pt-10 pb-12">
      <div class="mb-lg-0 mb-lg-09 mb-04">
        <img
          class="benefit-model-img"
          src="../assets/image/benefit-banner-3.jpg"
          alt=""
        />
      </div>
      <div class="benefit-model-desc">
        <p class="text-white">03 <span class="opacity-50">Benefit</span></p>
        <h4 class="text-white mb-lg-10 mb-04">
          Make money by <br />
          having your hair cut on video
        </h4>

        <div class="col">
          <div class="row row-cols-2">
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system, and expound the actual teachings.
            </p>
            <p class="text-white opacity-50">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="benefit-subscription pt-08 pb-09 bg-black-green-light">
      <div class="row row-cols-lg-2">
        <div class="mb-lg-0 mb-09">
          <p class="desc-4 fs-normal text-white opacity-50 pb-03">
            Subscription
          </p>
          <h3 class="text-white pb-05">Subscribe to see more!</h3>
          <p class="text-white desc-3 pb-07 opacity-75 fw-normal">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system.
          </p>
          <a class="btn-green-light" href="#">Subscribe</a>
        </div>
        <div class="d-flex align-items-center">
          <ul class="nav benefit-subscription_list">
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Access all videos</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>All Models</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>New videos every week</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Exclusive content</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Unique tutorials</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #1</b>
            </li>
            <li class="desc-3 px-3 nav-item mb-06 text-white">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #1</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
