<section class="pt-lg-12 pt-07 pb-lg-12 pb-07">
  <div class="container pb-11">
    <p class="desc-4 opacity-2 mb-07">Models</p>
    <h2 class="mb-08">
      Explore our <br class="d-md-block d-none" />
      Finest Models
    </h2>
    <div class="row row-cols-lg-2">
      <p class="desc-3">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings.
      </p>
      <p class="desc-3">
        And I will give you a complete account of the system, and expound the
        actual teachings.
      </p>
    </div>
  </div>
  <div class="explore-swiper m-auto">
    <!-- explore Swiper -->
    <div class="swiper ExploreModelsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center">
          <img
            class="w-100 mb-05 rounded-3"
            src="../assets/image/exploremodle-1.jpg"
            alt=""
          />
          <div class="swiper-slide-body explore-slide-desc">
            <p class="desc-4 mb-03">
              <b>Jessica Cage</b>
            </p>
            <p class="desc-7">Model</p>
          </div>
        </div>
        <div class="swiper-slide text-center">
          <img
            class="w-100 mb-05 rounded-3"
            src="../assets/image/exploremodle-2.jpg"
            alt=""
          />
          <div class="swiper-slide-body explore-slide-desc">
            <p class="desc-4 mb-03">
              <b>Lora Wiliams</b>
            </p>
            <p class="desc-7">Actor</p>
          </div>
        </div>
        <div class="swiper-slide text-center">
          <img
            class="w-100 mb-05 rounded-3"
            src="../assets/image/exploremodle-3.jpg"
            alt=""
          />
          <div class="swiper-slide-body explore-slide-desc">
            <p class="desc-4 mb-03">
              <b>Jessica Cage</b>
            </p>
            <p class="desc-7">Model</p>
          </div>
        </div>
        <div class="swiper-slide text-center">
          <img
            class="w-100 mb-05 rounded-3"
            src="../assets/image/exploremodle-4.jpg"
            alt=""
          />
          <div class="swiper-slide-body explore-slide-desc">
            <p class="desc-4 mb-03">
              <b>Lora Wiliams</b>
            </p>
            <p class="desc-7">Actor</p>
          </div>
        </div>
        <div class="swiper-slide text-center">
          <img
            class="w-100 mb-05 rounded-3"
            src="../assets/image/exploremodle-5.jpg"
            alt=""
          />
          <div class="swiper-slide-body explore-slide-desc">
            <p class="desc-4 mb-03">
              <b>Jessica Cage</b>
            </p>
            <p class="desc-7">Model</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
