<section>
  <div class="container footer">
    <div class="footer-header d-flex justify-content-between">
      <h5 class="heading-5">Site Name</h5>
      <div
        class="d-flex flex-sm-row flex-column align-items-center justify-content-center"
      >
        <a class="desc-2 m-0 pe-3 text-decoration-none" href="http://"
          >Ready to get started?</a
        >
        <a class="btn-green-light" href="#">Become a Model</a>
      </div>
    </div>
    <hr />
    <div class="footer-content">
      <div>
        <p class="desc-2 mb-05">Subscribe to see more videos</p>
        <a class="btn-black-green" href="#">Subscribe</a>
      </div>
      <div class="d-flex justify-content-between">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link desc-5" href="">Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link desc-5" href="">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link desc-5" href="">Download Store</a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link desc-5" href="">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link desc-5" href="">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link desc-5" href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer-social-icon">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/icons/facebook.svg" alt="" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/icons/twitter.svg" alt="" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/icons/instagram1.svg" alt="" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/icons/youtube.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="desc-6">Copyright © 2022. Site Name. All rights reserved.</p>
  </div>
</section>
