<div class="gallery m-auto pt-05">
  <div class="mb-03">
    <!-- Swiper -->
    <div class="swiper mySwiper mySwiper-right">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery1.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery2.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery3.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery4.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery5.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery6.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery7.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery8.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery9.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- Swiper -->
    <div class="swiper mySwiper mySwiper-left">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery10.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery11.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery3.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery4.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery1.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery6.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery3.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery8.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="w-100" src="../assets/galleryimg/gallery6.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Initialize Swiper -->
<!-- ******************* SWIPER ************************ -->
<script src="./script/swipers.js"></script>
