<div class="hero bg-black">
  <!-- NAVIGATION SECTION  -->
  <div class="container navigation">
    <nav class="navbar navbar-expand-xl bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h5 class="m-0">Site Name</h5></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item my-4 my-lg-0">
              <a class="nav-link desc-4" aria-current="page" href="#HOME"
                >Home</a
              >
            </li>
            <li class="nav-item ms-lg-5 my-4 my-lg-0">
              <a class="nav-link desc-4" aria-current="page" href="#"
                >About Us</a
              >
            </li>
            <li class="nav-item ms-lg-5 my-4 my-lg-0">
              <a class="nav-link desc-4" aria-current="page" href="#"
                >Download Store</a
              >
            </li>
            <li class="nav-item ms-lg-5 my-4 my-lg-0">
              <a class="nav-link desc-4" aria-current="page" href="#CONTACT"
                >Contact Us</a
              >
            </li>
          </ul>

          <a class="btn-green-black-md ms-auto" href="#">Subscribe Now</a>
        </div>
      </div>
    </nav>
  </div>

  <!-- HERO CONTENT SECTION  -->
  <div class="row w-100 row-cols-lg-2 row-reverse">
    <div class="hero-content text-lg-start text-center order-lg-0 order-2">
      <h1 class="mb-07">
        Enjoy. <br class="d-lg-block d-none" />
        Learn.<br class="d-lg-block d-none" />
        Benefit.
      </h1>
      <p class="desc-6 mb-06 text-white opacity-50">
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will <br class="d-lg-none" />
        give you a complete account of the system, and expound the actual
        teachings.
      </p>
      <div
        class="d-flex flex-sm-row flex-column gap-4 justify-content-lg-start justify-content-center"
      >
        <a class="btn-green-light" href="#">Subscribe</a>
        <a class="btn-green-black" href="#">For Models</a>
      </div>
    </div>
    <div class="hero-images">
      <div class="hero-main-img">
        <img
          class="hero-images-circle"
          src="../assets/image/circle.png"
          alt=""
        />
        <img class="hero-images-heart" src="../assets/image/dil.png" alt="" />
        <img class="hero-images-star" src="../assets/image/star.png" alt="" />
      </div>
    </div>
  </div>
</div>
