<section>
  <div class="container-lg">
    <div class="join pt-10 pb-09">
      <div class="join-body m-auto text-center">
        <p class="mb-07 desc-4">Join Us</p>
        <h2 class="mb-08">
          Join as a model and <br />
          get all the benefits!
        </h2>
        <div class="mb-08">
          <ul class="d-flex nav desc-3 mb-07 p-0 justify-content-center">
            <li class="nav-item px-4">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" /> Сash
              money
            </li>
            <li class="nav-item px-4">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" /> Free
              hair cut
            </li>
            <li class="nav-item px-4">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" /> Great
              exposure
            </li>
          </ul>
          <ul class="d-flex nav desc-3 p-0 justify-content-center">
            <li class="nav-item px-4">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" /> Help
              others learn
            </li>
            <li class="nav-item px-4">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" /> Be
              part of a great community
            </li>
          </ul>
        </div>
        <div><a class="btn btn-green-light" href="#">Become a Model</a></div>
      </div>
    </div>
  </div>
</section>
