<section class="pt-12 pb-05">
  <div class="container-lg">
    <div class="latest-header text-center">
      <p class="desc-4 mb-07">Latest Models</p>
      <h2 class="mb-08">
        Latest Videos <br />
        Newest Models
      </h2>
    </div>
    <div class="latest-card-group">
      <div class="latest-card bg-white-green">
        <img
          class="w-100 mb-lg-09 mb-04"
          src="../assets/image/video.jpg"
          alt=""
        />
        <div class="latest-card-body latest-card-jessical pb-lg-12 pb-07">
          <div class="d-flex mb-lg-07 mb-04">
            <h4 class="m-0">
              Hi! <br />
              I'm Jasseica!
            </h4>
            <img
              class="latest-card-arrow ms-3"
              src="../assets/image/arrow.png"
              alt=""
            />
          </div>
          <div class="row row-cols-sm-2 mb-lg-09 mb-04">
            <p class="desc-5 opacity-75">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system, and expound the actual teachings.
            </p>

            <p class="desc-5 opacity-75">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </div>
          <div>
            <p class="desc-1 mb-06">Techniques used on this model:</p>
            <p class="desc-3 mb-06">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #1</b>
            </p>
            <p class="desc-3 mb-06">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #2</b>
            </p>
            <p class="desc-3">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #3</b>
            </p>
          </div>
        </div>
      </div>
      <div class="latest-card bg-white-green">
        <img
          class="w-100 mb-lg-09 mb-04"
          src="../assets/image/video-1.jpg"
          alt=""
        />
        <div class="latest-card-body latest-card-kate pb-lg-12 pb-07">
          <div class="d-flex mb-lg-07 mb-04">
            <h4 class="m-0">
              Hi! <br />
              I'm Kate!
            </h4>
            <img
              class="latest-card-arrow ms-3"
              src="../assets/image/arrow.png"
              alt=""
            />
          </div>
          <div class="row row-cols-sm-2 mb-lg-09 mb-04">
            <p class="desc-5 opacity-75">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system, and expound the actual teachings.
            </p>

            <p class="desc-5 opacity-75">
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </div>
          <div>
            <p class="desc-1 mb-06">Techniques used on this model:</p>
            <p class="desc-3 mb-06">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #1</b>
            </p>
            <p class="desc-3 mb-06">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #2</b>
            </p>
            <p class="desc-3">
              <img class="me-3" src="../assets/icons/Vector.png" alt="" />
              <b>Technique #3</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
