<section class="follow">
  <div class="container-lg follow-container bg-black-green">
    <div class="text-center">
      <p class="desc-4 text-white mb-06">Twitter</p>
      <h2 class="text-white mb-07">Follow Us on Twitter</h2>
      <p class="desc-3 text-white mb-09">
        We couldn’t say it any better than our members
      </p>

      <div class="follow-slides">
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper pb-09">
            <div class="swiper-slide">
              <div
                class="d-flex w-100 align-items-center justify-content-between mb-03"
              >
                <div class="d-flex">
                  <img src="../assets/image/follow1.jpg" alt="" />
                  <div class="ms-2">
                    <p class="desc-5 fw-bolder m-0">thenonhacker</p>
                    <p class="desc-5 m-0">@thenonhacker</p>
                  </div>
                </div>
                <div>kk</div>
              </div>
              <div class="text-start">
                <p class="desc-1 fw-normal mb-03">
                  The quick brown fox jumps over the lazy dog. The quick brown
                  fox jumps over the lazy dog. The quick brown fox jumps over
                  the lazy dog. The quick brown fox jumps over the lazy dog. The
                  quick brown fox jumps over the lazy dog. The quick brown fox
                  jumps over the lazy dog. The quick.
                </p>
                <p class="desc-5 fw-normal mb-06">
                  7:03 PM · Jun 22, 2022 · Twitter Web App
                </p>
                <p class="d-flex">
                  <img src="../assets/icons/" alt="" />See on Tweet
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="d-flex w-100 align-items-center justify-content-between mb-03"
              >
                <div class="d-flex">
                  <img src="../assets/image/follow2.jpg" alt="" />
                  <div class="ms-2">
                    <p class="desc-5 fw-bolder m-0">sarahbaker</p>
                    <p class="desc-5 m-0">@sarahbaker</p>
                  </div>
                </div>
                <div>kk</div>
              </div>
              <div class="text-start">
                <p class="desc-1 fw-normal mb-03">
                  The quick brown fox jumps over the lazy dog. The quick brown
                  fox jumps over the lazy dog. The quick brown fox jumps over
                  the lazy dog. The quick brown fox jumps over the lazy dog. The
                  quick brown fox jumps over the lazy dog. The quick brown fox
                  jumps over the lazy dog. The quick.
                </p>
                <p class="desc-5 fw-normal mb-06">
                  7:03 PM · Jun 22, 2022 · Twitter Web App
                </p>
                <p class="d-flex">
                  <img src="../assets/icons/" alt="" />See on Tweet
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="d-flex w-100 align-items-center justify-content-between mb-03"
              >
                <div class="d-flex">
                  <img src="../assets/image/follow3.jpg" alt="" />
                  <div class="ms-2">
                    <p class="desc-5 fw-bolder m-0">ollysai</p>
                    <p class="desc-5 m-0">@ollysai</p>
                  </div>
                </div>
                <div>kk</div>
              </div>
              <div class="text-start">
                <p class="desc-1 fw-normal mb-03">
                  The quick brown fox jumps over the lazy dog. The quick brown
                  fox jumps over the lazy dog. The quick brown fox jumps over
                  the lazy dog. The quick brown fox jumps over the lazy dog. The
                  quick brown fox jumps over the lazy dog. The quick brown fox
                  jumps over the lazy dog. The quick.
                </p>
                <p class="desc-5 fw-normal mb-06">
                  7:03 PM · Jun 22, 2022 · Twitter Web App
                </p>
                <p class="d-flex">
                  <img src="../assets/icons/" alt="" />See on Tweet
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 3,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      480: {
        slidesPerView: 1,
        spaceBetween: 30,
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
      992: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
</script>
